<!--div class="create-dialog">
    <div class="container">
      <form [formGroup]="appInfoForm">
        <p>Create Project</p>
        <h1 mat-dialog-title></h1>
        <div mat-dialog-content>
          <p>Please Provide Details</p>
          <p>
            <mat-form-field>
            <input matInput  formControlName="name"  placeholder="Project Title">
          </mat-form-field>
          </p>
          
          <p>
          <mat-form-field>
            <input matInput placeholder="description" >
          </mat-form-field>
          </p>
          
          <p>
            <mat-form-field appearance="fill">
                <mat-label>Toppings</mat-label>
                <mat-select [formControl]="toppings" multiple>
                  <mat-select-trigger>
                    {{toppings.value ? toppings.value[0] : ''}}
                    <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                      (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
              </mat-form-field>
              
          </p>
          
          <p>
          <mat-form-field>
            <input matInput  placeholder="client Email">
          </mat-form-field>
          </p>
          
          <p>
          <mat-form-field>
            <input matInput placeholder="Client Contact Person" >
          </mat-form-field>
          </p>
        
          <p>
          <mat-form-field>
            <input matInput placeholder="Client Contact Name ">
          </mat-form-field>
          </p>
        
          <p>
          <mat-form-field>
            <input matInput placeholder="Client Location">
          </mat-form-field>
          </p>
        
        </div>
        <div mat-dialog-actions>
          <button mat-button >No Thanks</button>
          <button mat-button cdkFocusInitial>Ok</button>
        </div>
        </form>
    </div>
    
    </div--->
<div class="create-dialog">
  <div class="container border border-1">
    <h1>ReDeemption App</h1>
    <!--img src="../../assets/img/logo.PNG" /-->
    <h2>Please Provide Following Details</h2>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>Category</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Token</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">IStore Link</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Playstore Link</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="cancel" class="btn btn-primary">Cancel</button>
    </form>
  </div>
</div>
   